.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
}

.main {
  max-width: 1000px;
  margin: 0 auto;
}

.toolbar__filter {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 20px;
  padding: 5px;
  cursor: pointer;
  border: 1px solid black;
}

.toolbar__filter_active {
  background-color: aquamarine;
}

.container {
  display: inline-block;
  text-align: center;
}

.img {
  margin-right: 30px;
  margin-bottom: 30px;
}